  *{
    margin: 0;
    padding: 0;
  }
  body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
  }
  /*--------------------------------header-above------------------*/
  .fran-header .header-above{
    display: flex;
    height: 46px;
    background: #222222;
    width: 100%;
  }
  /*--------------------------------above-left---------------*/
  .fran-header .header-above .above-left{
    display: flex;
    width: 50%;
    align-items: center;
  }
  /*--------------------------------above-right---------------*/
  .fran-header .header-above .above-right{
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  .fran-header .header-above .above-right .above-right-login{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    letter-spacing: 0.01em;
  }
.fran-header .header-above .above-right .above-right-login a{
    text-decoration: none;
  display: flex;
}
  .fran-header .header-above p{
    font-family: 'Open Sans', sans-serif;
    color: #525252;
    font-size: 14px;
  }
  .fran-header .header-above .above-left p,.fran-header .header-above .above-left .fa-bookmark,.fran-header .header-above .above-right .above-right-login .fas{
    margin-right: 7px;
    color: #525252;
    letter-spacing: 0.009em;
  }
  .fran-header .header-above .above-left .fa-bookmark{
    margin-left: 32px;
    font-size: 14px;
  }
  /*-----------------------------header-menu------------------*/
  .fran-header .header-menu{
    height: 80px;
    display: flex;
    align-items: center;
    border-block-end: 1px solid #dddddd;
    margin-bottom: 29px;
  }
  /*-----------------------------menu-title------------------*/
  .fran-header .header-menu .header-menu-title{
    border: 2px solid #000000;
    margin-left: 32px;
    padding: 7px 14px 7px 14px;
    /*! display: flex; */
  }
  .fran-header .header-menu .header-menu-title p{
   letter-spacing: 0.8em;
   font-weight: 700;
   font-size: 20px;
 }
 .fran-header .header-menu .header-menu-title p:after{
  content: '';
  margin-right: -0.8em;
}
/*-------------------------------menu----------------*/
.fran-header .header-menu .header-menu2{
  display: flex;
  align-items: center;
  justify-items: space-between;
  flex-basis: -moz-available;
}
.fran-header .header-menu .header-menu-menu{
  margin: 0 auto;
  max-width: 1140px;
}
.fran-header .header-menu .header-menu-menu ul{
  /*! display: inline-block; */
}
.fran-header .header-menu .header-menu-menu li{
  list-style: none;
  margin-left: 57px;
  margin-top: -4px;
  letter-spacing: -0.03em;
  display: inline-block;
}
.fran-header .header-menu .header-menu-menu li:before{
  margin-left: -57px;
}
.fran-header .header-menu .header-menu-menu li a{
  color: #000000;
  font-size: 14px;
  text-decoration: none;
  font-weight: 700;
}
.fran-header .header-menu .header-menu-menu li a:hover {
  color: #8262b5;
}
.fran-header .header-menu .header-menu-menu li i:hover {
  color: #8262b5;
}
.fran-header .header-menu .header-menu-menu li .fa-search{
  color: #000000;
  margin-left: 5px;
}
.dot3{
  margin-right: ;
}
/*--------------------------------search-------------------*/
.header-menu-search{
  visibility: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
}
.seach__log{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 30%;
}
.seach__main{
  position: relative;
  z-index: 10;
  max-width: 80%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2%;
  transition: all .5s ease;
  display: flex;
  justify-content: center;
}
.seach__main input{
  border-radius: 20px;
}
.seach__main input[type='text']{
  width: 20%;
  padding: 0.2%;
}
.seach__main input[type='button']{
  padding: 0.5% 1.5%;
  margin-left: 20px;
}
.seach__active{
  visibility: visible;
}
.seach__active .seach__main{
  margin-top: 5%;
  transition: all .5s ease;
}
/*--------------------------------mini cart-active----------------*/

.header-mini-cart{
  display: flex;
  justify-content: end;
  visibility: hidden;
}
.header-mini-cart .mini-cart-above img{
  width: 40%;
}
.header-mini-cart .mini-cart-above{
  display: flex;
  width: 15%;
  position: absolute;
  z-index: 100;
}
.header-mini-cart .two{
  margin-top: 80px;
}
.header-mini-cart .mini-cart-above img{
  height: 70px;
  margin-right: 20px;
}
.header-mini-cart .mini-cart-above .cart-name-price{
  margin: auto 0;
}
.header-mini-cart .mini-cart-above .cart-name-price .name{
  font-weight: 700;
}
.mini-cart-active{
  visibility: visible;
}
.cart_log{
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 30%;
  z-index: 99;
}
/*--------------------------------mini cart----------------*/
.fran-header .header-menu .header-menu-cart{
  display: flex;
  justify-content: flex-end;
}
.fran-header .header-menu .header-menu-cart i{
  margin-right: 28px;
  font-size: 30px;
  color: #000000;
}
.fran-header .header-menu .header-menu-bar{
  display: none;
}
/*------------------------------fran-body-----------------*/
.fran-body .fran-body-container{
  max-width: 1140px;
  margin: 0 auto;
}

.fran-body .body-featured {
  display: flex;
  margin-bottom: 77px;
}
/*-------------------------------body-featured-left----------------*/
.fran-body .body-featured .featured-left .featured-left-img{
  height: 560px;
  max-width: 750px;
  margin-right: 30px;
  position: relative;
}
.fran-body .body-featured .featured-left .featured-left-img img{
  width: 100%;
  height: 100%;
}
.fran-body .body-featured .featured-left .featured-left-title{
  margin-top: -250px;
  margin-left: 343px;
  position: absolute;
}
.fran-body .body-featured .featured-left .featured-left-title p{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-left: -3.2px;
}
.fran-body .body-featured .featured-left-title a{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  padding: 11px 17px 10px 17px;
  border: 1px solid #8262b5;
  background: #8262b5;
  font-weight: 400;
  color: #ffffff;
  margin-left: 207px;
  margin-top: 3px;
  display: block;
  text-decoration: none;
}
/*------------------------------body-featured-right-----------------*/
.fran-body .body-featured .featured-right .featured-right-above .above-img{
  max-width: 360px;
  height: 200px;
  position: relative;
}
.fran-body .body-featured .featured-right .featured-right-above .above-title{
  margin-top: -116.5px;
  margin-left: 57.5px;
  position: absolute;
  font-family: 'Montserrat', sans-serif;
}
.fran-body .body-featured .featured-right .featured-right-above .above-title .make{
  font-size: 20px;
  font-weight: 700;
  margin-top: 2px;
}
.fran-body .body-featured .featured-right .featured-right-above .above-title .small{
  font-size: 16px;
  color: #616161;
  letter-spacing: 0.2em;
}
.fran-body .body-featured .featured-right .featured-left-title{
  position: absolute;
  margin-left: 41px;
  margin-top: -214px;
}
.fran-body .body-featured .featured-right .featured-left-title .fo{
  font-size: 16px;
  font-weight: 400;
  color: #616161;
  margin-bottom: 4px;
  letter-spacing: 0.2em;
}
.fran-body .body-featured .featured-right .featured-left-title .back{
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 10px;
  margin-top: -3px;
}
.fran-body .body-featured .featured-right .featured-left-title a{
margin-left: 0px;
    margin-top: 15px;
    padding: 10px 14px 10px 21px;
    font-size: 14px;
    margin-right: 9px;
}
.fran-body .body-featured .featured-right .featured-right-above img{
  width: 100%;
  height: 100%;
}
.fran-body .body-featured .featured-right .featured-right-below{
  width: 360px;
  height: 330px;
  margin-top: 30px;
}
.fran-body .body-featured .featured-right .featured-right-below img{
  height: 100%;
  width: 100%;
}
/*-------------------------------body-both-title----------------*/
.fran-body .body-booth .booth-title{
  position: relative;
  margin-bottom: 74px;
}
.fran-body .body-booth .booth-title:after{
  border-block-end: 1px solid #8262b5;
  content: '';
  position: absolute;
  width: 50px;
  height: 1px;
  margin-top: 22px;
}
.fran-body .body-booth .booth-title .franco{
  font-size: 12px;
  letter-spacing: 0.5em;
  font-weight: 700;
  color: #8262b5;
  margin-bottom: 11px;
  margin-top: -1px;
}
.fran-body .body-booth .booth-title .featured{
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  letter-spacing: 0.1em;
}
/*-------------------------------both-list----------------*/
.fran-body .fran-body-container .body-booth .body-both-list .body-both-list-above{
display: flex;
    justify-content: space-between;
    margin-bottom: 44px;
}
}
.fran-body .fran-body-container .body-booth .both-list{
  width: 260px;
}
.fran-body .fran-body-container .body-booth .both-list .both-list-img{
  max-width: 100%;
  position: relative;
}
.fran-body .fran-body-container .body-booth .both-list .both-list-addtocart{
  position: absolute;
  margin-top: -38px;
  margin-left: 8px;
}
.fran-body .fran-body-container .body-booth .both-list .both-list-addtocart a{
  padding: 13px 17px 12px 16px;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background: #ffffff;
  color: #424242;
  text-decoration: none;
}
.fran-body .fran-body-container .body-booth .both-list a:hover,.fran-body .fran-body-container .body-booth .both-list .decreption-name a:hover{
  color: #8262b5;
}
.fran-body .fran-body-container .body-booth .both-list .decreption-name a{
  font-size: 14px;
  font-weight: 500;
  margin-top: 13px;
  letter-spacing: -0.1px;
  text-decoration: none;
  display: block;
  color: #000000;
}
.fran-body .fran-body-container .body-booth .both-list .decreption-star{
  font-size: 13px;
  display: flex;
  margin-top: 11px;
  margin-left: 1px;
}
.fran-body .fran-body-container .body-booth .both-list .decreption-star i{
  color: #f8ba04;
  font-size: 12px;
}
.fran-body .fran-body-container .body-booth .both-list .decreption-star .decreption-star-black i{
  color: #d1d1d1;
  margin-left: 1px;
}
.fran-body .fran-body-container .body-booth .both-list .decreption-star .decreption-star-black{
  margin-top: -1px;
}
.fran-body .fran-body-container .body-booth .body-both-list .decreption-price{
  color: #d1d1d1;
  font-size: 15px;
  display: flex;
  margin-left: 1px;
  margin-top: 7px;
}
.fran-body .fran-body-container .body-booth .body-both-list .decreption-price p{
    color: #8262b5;
    font-weight: 700;
    margin-left: -6px;
    margin-top: -1px;
}
.fran-body .fran-body-container .body-booth .body-both-list .decreption-price strike{
  color: #999999;
    margin-right: 7px;
}
/*----------------------------------body-blog-------------*/
.fran-body .fran-body-blog{
    background-image: url(../img/blog.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin-top: 76px;
}
.fran-body .fran-body-blog .blog-title{
  text-align: center;
  position: relative;
}
.fran-body .fran-body-blog .blog-title .latest{
  padding-top: 77px;
  padding-left: 9px;
  color: #8262b5;
  font-weight: 700;
  letter-spacing: 0.5em;
  font-size: 12px;
  padding-bottom: 11px;
}
.fran-body .fran-body-blog .blog-title .new{
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin-left: 5px;
  letter-spacing: 0.1em;
}
.fran-body .fran-body-blog .blog-title:after{
  content: '';
  width: 50px;
  background-color: #8262b5;
  height: 1px;
  position: absolute;
  margin-top: 23px;
  margin-left: -24px;
}
/*---------------------------body-blog-container-list-item--------------------*/
.fran-body .fran-body-blog .blog-container{
  max-width: 1140px;
  margin: 74px auto 0;
  overflow: hidden;
}
.fran-body .fran-body-blog .blog-container ul{
  display: flex;
}
.fran-body .fran-body-blog .blog-container .blog-list{
  display: flex;
  justify-content: space-between;
}
.fran-body .fran-body-blog .blog-list .blog-list-item img{
  width: 100%;
}
.fran-body .fran-body-blog .blog-list .blog-list-item{
  width: 360px;
}
.fran-body .fran-body-blog .blog-list ul li{
  list-style: none;
}
.fran-body .fran-body-blog .blog-list .centerrrr{
  margin-right: 30px;
  margin-left: 30px;
}
.fran-body .fran-body-blog .blog-list-item .item-img{
  position: relative;
  margin-bottom: -3px;
  width: 100%;
}
.fran-body .fran-body-blog .blog-list-item .item-img .item-date{
  position: absolute;
  background: #a1d1dd;
  padding: 13px 18px 10px 18px;
  margin-top: -181px;
  margin-left: 21px;
}
.fran-body .fran-body-blog .blog-list-item .item-img .item-date p{
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
}
.fran-body .fran-body-blog .blog-list-item .item-img .item-date .so{
  font-weight: 700;
  font-size: 16px;
  margin-top: -1px;
  margin-left: 3px;
}
.fran-body .fran-body-blog .blog-list-item .item-img .item-border{
  border: 1px solid white;
  width: 49px;
  height: 49px;
  position: absolute;
  margin-left: 26px;
  margin-top: -177px;
}
.fran-body .fran-body-blog .blog-container .blog-list-item .item-below{
  background: #ffffff;
}
.fran-body .fran-body-blog .blog-container .blog-list-item .item-content{
  border-block-end: 1px solid #ededed;
  padding: 16px 0 16px 20px;
}
.fran-body .fran-body-blog .blog-container .blog-list-item .item-content a{
  display: block;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 17px;
  text-decoration: none;
  letter-spacing: -0.013em;
}
.fran-body .fran-body-blog .blog-container .blog-list-item .item-content .title:hover{
  color: #8262b5;
}
.fran-body .fran-body-blog .blog-container .blog-list-item .item-content .content{
  color: #424242;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  line-height: 22px;
  font-weight: 600;
}
.fran-body .fran-body-blog .blog-container .blog-list .blog-list-item .item-feedback{
  display: flex;
  height: 52px;
  margin-left: 21px;
}
.fran-body .fran-body-blog .blog-container .blog-list .blog-list-item .item-feedback .feedback{
  display: flex;
  align-items: center;
}
.fran-body .fran-body-blog .blog-container .blog-list .blog-list-item .item-feedback p{
  font-family: 'Open Sans', sans-serif;
  margin-left: 3px;
  margin-right: 34px;
  font-size: 14px;
  color: #c0c0c0;
}
.fran-body .fran-body-blog .blog-container .blog-list .blog-list-item .item-feedback .feedback i{
  color: #c0c0c0;
  font-size: 14px;
  margin-top: 2px;
}
.fran-body .fran-body-blog .blog-container .container-three-point{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  padding-bottom: 69px;
}
.fran-body .fran-body-blog .blog-container .container-three-point .point-one{
  width: 10px;
  height: 10px;
  background: #b3a6c8;
  border-radius: 100%;
  margin-right: -2px;
}
.fran-body .fran-body-blog .blog-container .container-three-point .bbbbbb{
  margin-left: 3px;
}
.fran-body .fran-body-blog .blog-container .container-three-point .point-two{
  width: 13px;
  height: 13px;
  background: #8262b5;
  border-radius: 100%;
  margin: 0 7px 0 14px;
}
.fran-footer{
  background: #222222;
}
/*-----------------------------footer-above-left------------------*/
.fran-footer .footer-above{
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  margin: 0 auto;
}
.fran-footer .footer-above .above-left{
  width: 263px;
  margin-bottom: 44px;
}
.fran-footer .footer-above .title{
  position: relative;
}
.fran-footer .footer-above .title h5{
  color: #f7f7f7;
  font-size: 16px;
  font-weight: 400;
  padding-top: 60px;
  margin-bottom: 28px;
  margin-left: 1px;
  letter-spacing: 0.05em;
}
.fran-footer .footer-above .title:after{
  margin-top: -1px;
  width: 100%;
  content: '';
  height: 1px;
  background: #393939;
  position: absolute;
}
.fran-footer .footer-above .above-left .left-content{
  font-family: 'Open Sans', sans-serif;
  color: #888888;
  font-size: 14px;
  margin-top: 50px;
  margin-left: 1px;
}
.fran-footer .footer-above .above-left .left-content p{
  line-height: 22px;
  letter-spacing: 0.26px;
}
.fran-footer .footer-above .above-left .left-menu-icon ul{
 display: flex; 
 list-style: none;
 margin-top: 42px;
 margin-left: 2px;
}
.fran-footer .footer-above .above-left .left-menu-icon ul li{
  margin-right: 31px;
  font-size: 17px;
}
.fran-footer .footer-above .above-left .left-menu-icon ul li a{
  text-decoration: none;
 color: #828282;
}
.fran-footer .footer-above .above-left .left-menu-icon ul li a .fa-dribbble{
font-size: 14px;
    margin-top: 2px;
    display: block;
}
/*----------------------------footer-above-center-------------------*/
.fran-footer .footer-above .above-center{
  width: 360px;
}
.fran-footer .footer-above .above-center .center-menu{
  display: flex;
  justify-content: space-between;
}
.fran-footer .footer-above .above-center .center-menu .menu{
  width: 165px;
}
.fran-footer .footer-above .above-center .center-menu .menu ul{
  margin-top: 24px;
}
.fran-footer .footer-above .above-center .center-menu .menu li{
  list-style: none;
  margin-bottom: 11px;
  letter-spacing: 0.01em;
}
.fran-footer .footer-above .above-center .center-menu .menu a{
  text-decoration: none;
  color: #888888;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}
.fran-footer .footer-above .above-center .center-menu .menu a:hover{
  text-decoration: underline;
  font-weight: 500;
  color: #ffffff;
}
/*-----------------------------footer-above-right------------------*/
.fran-footer .footer-above .above-right{
  width: 263px;
}
.fran-footer .footer-above .above-right .right-address{
  margin-top: 51px;
}
.fran-footer .footer-above .above-right .right-address li,.fran-footer .footer-above .above-right .right-address li a{
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #888888;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}
.fran-footer .footer-above .above-right .right-address .one i{
  width: 17px;
  margin-right: 13px;
  margin-left: 3px;
  margin-top: 4px;
}
/*---------------------------bonus--------------------*/
li.two {
  margin-top: 17px;
}
li.three {
  margin-top: 14px;
}
i.fas.fa-phone-alt {
  width: 17px;
  margin-right: 14px;
  font-size: 13px;
  margin-left: 3px;
}
.fran-footer .footer-above .above-right .right-address li .contact {
  margin-top: 15px;
  margin-left: 16px;
  letter-spacing: 0.01em;
}
p.sdt {
  letter-spacing: -0.001em;
}
i.far.fa-envelope {
  margin-top: 17px;
  margin-left: 3px;
}
.fran-footer .footer-above .above-right .right-address li .road{
  margin-top: 3px;
  letter-spacing: 0.01em;
}
.fran-footer .footer-above .above-right .right-address li .cau{
  margin-left: 33px;
  margin-top: -3px;
  letter-spacing: 0.01em;
}
/*-------------------------footer-center----------------------*/
.fran-footer .footer-center {
  background: #393939;
  height: 1px;
  width: 100%;
}
/*-------------------------footer-below-left----------------------*/
.fran-footer .footer-below{
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.fran-footer .footer-below .below-left{
  display: flex;
  align-items: center;
}
.fran-footer .footer-below .below-left i{
  color: #ff4628;
  margin-left: 4px;
  margin-right: 2px;
  font-size: 14px;
}
.fran-footer .footer-below .below-left p{
  color: #888888;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-top: -3px;
  margin-left: 2px;
  letter-spacing: 0.014em;
}
.fran-footer .footer-below .below-left .arr{
  margin-left: 4px;
  color: #ffffff;
}
/*-----------------------footer-below-right------------------------*/
.fran-footer .footer-below .below-right{
  display: flex;
  align-items: center;
}
.fran-footer .footer-below .below-right ul{
  display: flex;
  list-style: none;
  align-items: center;
}
.fran-footer .footer-below .below-right ul i{
  margin-left: 5px;
  color: #888888;
  font-size: 23px;
  margin-top: -5px;
}
#ui-id-1 li{
  display: block;
}
.blog-list{
  margin-left: -1140px;
}