<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="home">
		<h1>DANH SÁCH KHÁCH HÀNG</h1>
	</div>
	<div class="customer">
		<div class="item">
			<img src="../img/anh1.jpg"">
			<div class="infor">
				<h2>Nguyễn Ly</h2>
				<p>nly@gmail.com</p>
			</div>
		</div>
		<div class="item">
			<img src="../img/anh1.jpg"">
			<div class="infor">
				<h2>Nguyễn Ly</h2>
				<p>nly@gmail.com</p>
			</div>
		</div>
	</div>
</body>
</html>